/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* BODY */
body {
  height: 100vh;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* CONTAINER */
.container {
  text-align: center;
  padding: 40px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 32px rgba(0,0,0,0.3);
  animation: fadeIn 1s ease;
}

/* HEADING */
h1 {
  font-size: 32px;
  margin-bottom: 10px;
  background: linear-gradient(45deg, #ff7eb3, #ff758c);
  background-clip: text; /* ADD THIS */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ff7eb3; /* fallback */
}

/* PARAGRAPH */
p {
  font-size: 16px;
  opacity: 0.8;
  margin-bottom: 20px;
}

/* BUTTON */
button {
  padding: 12px 25px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(45deg, #ff7eb3, #ff758c);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

button:hover {
  transform: scale(1.08);
  box-shadow: 0 0 15px #ff7eb3;
}

/* ANIMATION */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/*dropdown*/
select{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #ff7eb3;
    outline: none;
    width: 100%;
    margin-top: 10px;
    font-size: 16px;

/*glass effect*/
    background: linear-gradient(45deg,#ff7eb3,#ff4e50);
    color: white;
    font-weight: bold;
    
 /*smooth feel*/
     transition: 0.3s;
     cursor: pointer;   
    box-shadow: 0 0 10px rgba(255,126,179,0.6)

}
select:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #ff4e50;
}
select:focus{
    box-shadow: 0 0 10px #ff7eb3;
}
/*back button special*/
button.back{
    background: #444;
}
select option{
    background: #222;
    color: white;
}
label{
    font-size: 14px;
    opacity: 0.6;
}